.housing-page {
    width: calc(100% - 200px);
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    color: #ff6060;
}

.housing-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
}

.housing-header-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.housing-header-left h1 {
    font-size: 36px;
    font-weight: 500;
    color: #ff6060;
}

.housing-header-left p {
    font-size: 18px;
    font-weight: 500;
    color: black;
    margin-top: 10px;
}

.housing-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.tag-button {
    background-color: #ff6060;
    color: white;
    border-radius: 10px;
    padding: 3px 20px;
    font-size: 14px;
    font-weight: 700;
    min-width: 115px;
    text-align: center;
}

.host-block {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 0;
}

.host-name {
    font-size: 18px;
    font-weight: 500;
    color: #ff6060;
    width: 100px;
    text-align: right;
    line-height: 1.4;
}

.host-img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
}

.rating-container {
    display: flex;
    justify-content: flex-end;
    gap: 13px;
    margin-top: 20px;
}

.star {
    width: 24px;
    height: 24px;
}

.housing-collapse {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    margin-top: 30px;
}