.housing-page {
    width: calc(100% - 200px);
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    color: #ff6060;
}

.housing-info h1 {
    font-size: 36px;
    font-weight: 500;
    color: #ff6060;
}

.housing-info p {
    font-size: 18px;
    font-weight: 500;
    color: black;
    margin-top: 10px;
}

.housing-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.tag-button {
    background-color: #ff6060;
    color: white;
    border-radius: 10px;
    padding: 3px 20px;
    font-size: 14px;
    font-weight: 700;
    min-width: 115px;
    text-align: center;
}

.housing-collapse {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    margin-top: 30px;
}