.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
}

.header-logo {
    height: 68px;
}

.nav {
    display: flex;
    gap: 57px;
}

.nav-link {
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: 500;
}

.nav-link-active {
    text-decoration: underline;
    color: black;
    font-size: 24px;
    font-weight: 500;
}

/* Responsive styles */
@media (max-width: 768px) {
    .header {
        padding: 15px;
        margin-top: 10px;
    }

    .header-logo {
        height: 47px;
    }

    .nav {
        gap: 26px;
    }

    .nav-link,
    .nav-link-active {
        font-size: 15px;
        margin-left: 0;
    }
}